<h1>Teachers</h1>
<input type="button" value="Add" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Full name</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of teachers">
            <ng-template [ngIf]="teacher.id != t.id" [ngIfElse]="edit">
                <td>{{t.id}}</td>
                <td>{{t.fullName}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editTeacher(t)">Edit</button>
                    <button style="margin-left: 10px" class="btn btn-sm btn-danger" (click)="delete(t)">Delete</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>
 
<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="text" readonly [(ngModel)]="teacher.id" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="teacher.fullName" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save(teacher)" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>ID</label>
        <input type="number" readonly [(ngModel)]="teacher.id" class="form-control" />
    </div>
    <div class="form-group">
        <label>Full name</label>
        <input type="text" [(ngModel)]="teacher.fullName" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="save(teacher)" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>