<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/teachers">Teachers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/lessons">Lessons</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/students">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/grades">Grades</a>
      </li>
  </ul>

<router-outlet></router-outlet>