<h1>Students</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full name</th>
            <td>
                <button type="button" class="btn btn-primary" (click)="createStudent(modalCreate)">Create new student</button>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of students">
                <td>{{t.id}}</td>
                <td>{{t.fullName}}</td>
                <td>
                    <a href="/grades/{{t.id}}" class="btn btn-sm btn-warning">Grades</a>
                    <button style="margin-left: 10px" class="btn btn-sm btn-primary" (click)="editStudent(t, modalEdit)">Edit</button>
                    <button style="margin-left: 10px" class="btn btn-sm btn-danger" (click)="delete(t)">Delete</button>
                </td>
        </tr>
    </tbody>
</table>


<ng-template #modalCreate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create Student</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Full name</label>
            <input type="text" [(ngModel)]="student.fullName" class="form-control"/>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
            </div>
            <div class="col">
                <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
            </div>
        </div>
    </div>
  </ng-template>

  <ng-template #modalEdit>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Student</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Full name</label>
            <input type="text" [(ngModel)]="student.fullName" class="form-control"/>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
            </div>
            <div class="col">
                <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
            </div>
        </div>
    </div>
  </ng-template>